<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.ues.fia.eisi.proyecto1">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1">
        <activity
            android:name=".LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUDUsuario.UsuarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoUsuario.Tipo_UsuarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoSatisfaccion.Tipo_SatisfaccionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoEmpresa.Tipo_EmpresaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerencias.SugerenciasMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerenciasApp.SugerenciasAppMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSexo.SexoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSector.SectorMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDRangoEdad.Rango_EdadMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDMunicipio.MunicipioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDLocal.LocalMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEvaluacion.EvaluacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEmpresa.EmpresaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDepartamento.DepartamentoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDenuncias.DenunciasMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDComentarios.ComentarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDCliente.ClienteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDUsuario.UsuarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDUsuario.UsuarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDUsuario.UsuarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDUsuario.UsuarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoUsuario.Tipo_UsuarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoUsuario.Tipo_UsuarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoUsuario.Tipo_UsuarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoUsuario.Tipo_UsuarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoSatisfaccion.Tipo_SatisfaccionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoSatisfaccion.Tipo_SatisfaccionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoSatisfaccion.Tipo_SatisfaccionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoSatisfaccion.Tipo_SatisfaccionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoEmpresa.Tipo_EmpresaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoEmpresa.Tipo_EmpresaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoEmpresa.Tipo_EmpresaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDTipoEmpresa.Tipo_EmpresaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerenciasApp.Sugerencias_AppInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerenciasApp.Sugerencias_AppConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerenciasApp.Sugerencias_AppEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerenciasApp.Sugerencias_AppActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerencias.SugerenciasInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerencias.SugerenciasConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerencias.SugerenciasEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSugerencias.SugerenciasActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSexo.SexoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSexo.SexoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSexo.SexoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSexo.SexoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSector.SectorInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSector.SectorEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSector.SectorConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDSector.SectorActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDRangoEdad.Rango_EdadInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDRangoEdad.Rango_EdadActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDRangoEdad.Rango_EdadEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDRangoEdad.Rango_EdadConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDMunicipio.MunicipioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDMunicipio.MunicipioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDMunicipio.MunicipioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDMunicipio.MunicipioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDLocal.LocalInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDLocal.LocalConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDLocal.LocalEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDLocal.LocalActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEvaluacion.EvaluacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEvaluacion.EvaluacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEvaluacion.EvaluacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEvaluacion.EvaluacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEmpresa.EmpresaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEmpresa.EmpresaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEmpresa.EmpresaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDEmpresa.EmpresaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDepartamento.DepartamentoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDepartamento.DepartamentoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDepartamento.DepartamentoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDepartamento.DepartamentoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDenuncias.DenunciasInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDenuncias.DenunciasEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDenuncias.DenunciasConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDDenuncias.DenunciasActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDComentarios.ComentariosInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDComentarios.ComentariosEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDComentarios.ComentariosConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDComentarios.ComentariosActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDCliente.ClienteConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDCliente.ClienteActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDCliente.ClienteEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDCliente.ClienteInsertarActivty"
            android:exported="false" />

        <activity
            android:name=".CRUDRangoEdad.Rango_EdadInsertar_wsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>